
<div class="container">

<div class="alert alert-danger" ng-if="punitionMessage&&error">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{punitionMessage}}
</div>
<div class="alert alert-success" ng-if="punitionMessage&&!error">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{punitionMessage}}
</div>
<div>
 <img src="../img/tele.jpg" width="175" height="182" alt="" />	
 </div>
 <div class="row">
<button ng-click="tv(-2)")" class="btn btn-success">ON</button>
<button ng-click="tv(-1)" class="btn btn-danger">OFF</button>
<button ng-click="tv(1800)" class="btn btn-info">30mn</button>
<button ng-click="tv(3600)" class="btn btn-info">60mn</button>
</div>
<br>
<div class="row">
<span style="width :230px"  ng-if="tvstatus.data.activeStandbyState==1" class="btn btn-danger">
TV Off </span>	
<span style="width :230px" ng-if="tvstatus.data.activeStandbyState==0" class="btn btn-success">
  TV On
</span>
</div>
<div>
<p ng-if="tvstatus.data.playedMediaId">La chaine regardee est  {{tvstatus.data.playedMediaId}}</p>			
<p ng-show="tvstatus.remainingTime">{{tvstatus.remainingTime}}</p>			
</div>

<div class="row">
<button ng-click="punition(-20,'desobeissance')")" class="btn btn-danger">Désobéissance</button>
<button ng-click="punition(-20,'paresse')")" class="btn btn-danger">Paresse</button>
<button ng-click="punition(20,'recompense')" class="btn btn-success">Récompense</button>
</div>
</div>
