<div class="container">

<div class="alert alert-danger" ng-if="message&&error">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{message}}
</div>
<div class="alert alert-success" ng-if="message&&!error">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{message}}
</div>

<div ng-if="!message">
<h2>Register to the Infy Play Event, Sat 24th September</h2>
	<form novalidate class="simple-form">
		<div class="form-group row">
			<label for="inputFirstName" class="col-sm-2 col-form-label">First
				Name</label>
			<div class="col-sm-2">
				<input type="text" ng-model="user.firstName" />
			</div>
			<label for="inputFirstName" class="col-sm-2 col-form-label">Last
				Name</label>
			<div class="col-sm-2">
				<input type="text" ng-model="user.lastName" />
			</div>
</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Infosys Employee: </label><span
				class="col-sm-2 col-form-label"><input type="radio"
				ng-model="user.employee" ng-value="true" />Employee </span><span
				class="col-sm-2 col-form-label"><input type="radio"
				ng-model="user.employee" ng-value="false" />Relative</span>
		</div>

			<div ng-if="user.employee && user.employee != null" class="form-group row">
			<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
			<div class="col-sm-10">
				<input type="email" ng-model="user.email" size="50" />
			</div>
		</div>
		
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Gender:</label> <span
				class="col-sm-2 col-form-label"><input type="radio"
				ng-model="user.gender" value="male" />Male </span><span
				class="col-sm-2 col-form-label"><input type="radio"
				ng-model="user.gender" value="female" />Female</span>
		</div>
		<div class="form-group row">
			<label class="col-sm-2 col-form-label">Veg: </label><span
				class="col-sm-2 col-form-label"><input type="radio"
				ng-model="user.vegetarian" ng-value="true" />Vegetarian </span><span
				class="col-sm-2 col-form-label"><input type="radio"
				ng-model="user.vegetarian" ng-value="false" />Non Veg</span>
		</div>


		<div ng-if="!user.employee && user.employee != null" class="form-group row">
			<label class="col-sm-2 col-form-label">Children: </label><span
				class="col-sm-2 col-form-label"><input type="radio"
				ng-model="user.child" ng-value="true" />Child </span><span
				class="col-sm-2 col-form-label"><input type="radio"
				ng-model="user.child" ng-value="false" />Adult</span>
		</div>

		<div ng-if="!user.employee && user.employee != null && user.child && user.child != null" class="form-group row">
			<label class="col-sm-2 col-form-label">Age: </label><span
				class="col-sm-2 col-form-label"><input type="text"
				ng-model="user.age" /></span> 
		</div>
		<div class="form-group row">
		<span class="col-sm-5"></span>
		<input type="submit" class="btn btn-info col-sm-2" ng-click="update(user)"
				value="Save" />
		</div>
	</form>
<hr>
</div>
<h2>Participants list</h2>
	<ul class="list-group" ng-repeat="participation in participations">
		<li class="list-group-item">
			<div class="row">
			<strong class="col-sm-2">
				{{participation.firstName}} {{participation.lastName}} </strong> 
				<span class="col-sm-3"> {{participation.email}} </span> 
	 			<span class="col-sm-2"> <strong>Veg:</strong> {{participation.vegetarian}}</span>
				<span class="col-sm-2"> <strong>Employee:</strong> {{participation.employee}} </span>
				<span  class="col-sm-2"> <strong>Child:</strong> {{participation.child}}</span>
			<a ng-click="remove(participation.idr)"><i class="icon-remove pull-right"></i>X</a>
		</div>
		</li>
	</ul>