<div class="container">

<div class="alert alert-danger" ng-if="message&&error">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{message}}
</div>
<div class="alert alert-success" ng-if="message&&!error">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{message}}
</div>

<div ng-if="!message">
<h2>Think of any forfeit to distribute at the entrance</h2>
	<form novalidate class="simple-form">
		<div class="form-group row">
			<label for="inputFirstName" class="col-sm-2 col-form-label">Your idea of forfeit
				</label>
			<div class="col-sm-6">
				<input size="100" type="text" ng-model="forfeit.forfeit" />
			</div>
	</div>
		<div class="form-group row">
		<span class="col-sm-5"></span>
		<input type="submit" class="btn btn-info col-sm-2" ng-click="update(forfeit)"
				value="Save" />
		</div>
	</form>
<hr>
</div>
<h2>Forfeit</h2>
	<ul class="list-group" ng-repeat="forfeit in forfeits">
		<li class="list-group-item">
			<div class="row">
			<a ng-click="remove(forfeit.idr)"><i class="icon-remove pull-right"></i>X</a>
			<strong class="col-sm-2">
				{{forfeit.forfeit}} </strong> 
		</div>
		</li>
	</ul>