<div class="container">

	<div class="alert alert-danger" ng-if="message&&error">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{message}}
	</div>
	<div class="alert alert-success" ng-if="message&&!error">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{message}}
	</div>

	<div>
		<h2>Event to plan</h2>
		<form novalidate class="simple-form">
		
		<input type="file" ng-model="fichier" fileread>
		
		<img ng-show="tmpImgId" ng-src="ws-img-tmp/{{tmpImgId}}">
		<img ng-show="imgId" ng-src="ws-img/{{imgId}}">
		
			<div class="form-group row">
				<label for="inputFirstName" class="col-sm-2 col-form-label">Title</label>
				<div class="col-sm-6">
					<input  class="form-control" size="60" type="text" ng-model="event.name" />
				</div>

				<label class="col-sm-2" for="date" class="col-sm-2 col-form-label">Date</label>
			<div flex-gt-xs>
					<md-datepicker md-placeholder="Enter date" ng-model="event.dateEventDp"></md-datepicker>
				</div>
			</div>
			<div class="form-group row">
				<label for="inputFirstName" class="col-sm-2 col-form-label">Max. participants</label>
				<div class="col-sm-2">
					<input size="5" type="text" ng-model="event.maxParticipant" />
				</div>

				<label class="col-sm-2" for="date" class="col-sm-2 col-form-label">Date max registration</label>
			<div flex-gt-xs>
					<md-datepicker md-placeholder="Enter date" ng-model="event.dateMaxRegistrationDp"></md-datepicker>
				</div>
			</div>

			<div class="row">
				<label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
				<textarea ng-model="event.description" class="form-control" style="min-width: 100%">
				</textarea>
			</div>
			<div class="row">
				<label for="inputEmployeeOnly" class="col-sm-2 col-form-label">Open
					to employee only</label> <input type="checkbox"
					ng-model="event.forEmployeeOnly" ng-value="true" />
			</div>

			<div class="row">
				<label for="inputEmployeeOnly" class="col-sm-2 col-form-label">Paying event</label> <input type="checkbox"
					ng-model="event.payingEvent" ng-value="true" />
			</div>

			<div class="row">
				<label for="inputVegetarianInfo" class="col-sm-2 col-form-label">Need
					vegetarian info</label> <input type="checkbox"
					ng-model="event.needVegetarianInfo" ng-value="false" />
			</div>

			<div class="row">
				<label for="inputGenderInfo" class="col-sm-2 col-form-label">Need
					gender info</label> <input type="checkbox"
					ng-model="event.needGenderInfo" ng-value="false" />
			</div>

			<div class="row">
				<label for="ChildInfo" class="col-sm-2 col-form-label">Need
					child info</label> <input type="checkbox" ng-model="event.needChildInfo"
					ng-value="false" />
			</div>
			
			<div class="row">
				<label for="inputDescription" class="col-sm-6 col-form-label">Reason why we need child info.</label>
				<textarea ng-model="event.childInfo" class="form-control" style="min-width: 100%">
				</textarea>
			</div>

	<h2>Additional questions</h2>

<!-- 
List the question -->
	<ul class="list-group" ng-repeat="question in event.additionalQuestions" style="margin-top:0px; margin-bottom:0px">
		<li class="list-group-item" style="margin-top:0px; margin-bottom:0px">
			<div class="row" >
				<a ng-click="remove(question.idr)"><i style="margin-right: 15px;"
					class="close pull-right">&times;</i></a> 
				<span style="margin-left:20px">	{{question.name}}</span> 
			</div>
		</li>
	</ul>
	<!--  Add a question -->
	<div class="row" style="margin-top:10px; " >
	<div class="col-sm-6">
	<input  class="form-control"  size="60" type="text" ng-model="newQuestion.name" style="margin-right: 2cm;" />
	 </div>
	 <input  type="submit"
				class="btn btn-info col-sm-2" ng-click="addQuestion(newQuestion)" value="Add a Question" />
</div>
<br>
			
<br>
			<div class="row">
				<span class="col-sm-10"></span> <input type="submit"
					class="btn btn-success col-sm-2" ng-click="update(event)" value="Save" />
			</div>
		</form>
		<hr>
	</div>

	
	
	
	<h2>Event list</h2>
	<ul class="list-group" ng-repeat="event in events"  style="margin-top:0px; margin-bottom:0px">
		<li class="list-group-item"  style="margin-top:0px; margin-bottom:0px">
			<div class="row">
				<a ng-click="remove(event.idr)"><i style="margin-right: 15px;"
					class="close pull-right">&times;</i></a> <span class="col-sm-4">
					<a href="manager.html#!/event/{{event.idr}}" >{{event.name}}</a> </span> <span class="col-sm-4"> {{event.date |
					date:'fullDate'}} </span>
					
			</div>
		</li>
	</ul>
</div>

