<div class="container">

	<div class="alert alert-danger" ng-if="message&&error">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{message}}
	</div>
	<div class="alert alert-success" ng-if="message&&!error">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		{{message}}
	</div>

		<h2>Gestion de la caisse</h2>
		<form novalidate name="form" class="css-form">
			<div class="row">
				<label for="inputlabel" class="col-sm-2 col-form-label">Label</label>
				<div class="col-sm-2">
					<input type="text" ng-model="line.label" />
				</div>
				<label for="inputDebit" class="col-sm-2 col-form-label">Debit</label>
				<div class="col-sm-2">
					<input type="number" ng-model="line.debit" />
				</div>
				<label for="inputCredit" class="col-sm-2 col-form-label">Credit</label>
				<div class="col-sm-2">
					<input type="number" ng-model="line.credit" />
				</div>
				
			<label class="col-sm-2" for="date" class="col-sm-2 col-form-label">Date</label>
			<div flex-gt-xs>
					<md-datepicker md-placeholder="Enter date" ng-model="line.dateOfPurchase"></md-datepicker>
				</div>
			</div>
				
			</div>
			
            <div class="col-md-3">
                 <h3>Recu</h3>
                    <input type="file" id="bill-file" nv-file-select="" uploader="uploader"  file-model="billFile" /><br/>
           </div>

                <div class="col-md-9" >
       
                    <table class="table">
                         <tbody>
                            <tr ng-repeat="item in uploader.queue">
                             <td>
                                  <strong>{{item.file.name}}</strong>
                             </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
			
			<div class="form-group row">
				<span class="col-sm-5"></span> <input type="submit"
					class="btn btn-success col-sm-2" ng-click="insert(line)"
					value="Enregistrer" />
			</div>
	
	
	<h2>Cash flow</h2>
	Total en caisse: {{summary.total}}
	
	<table >
		<tr ng-repeat="line in linesCaisse">
			<td class="row">
			 <strong>
					{{line.label}} </strong> <span class="col-sm-4"> {{line.date |
					date:'fullDate'}} </span>
			</td>
			<td>
			<span ng-if="line.credit">
			Credit:
			{{line.credit}}
			</span>
			<span ng-if="line.debit">
			Debit:
			{{line.debit}}
			</span>
					</td>
					<td>
						<a href="ws-caisse-image/{{line.idr}}">Voir l'image</a>
					
					
						<a ng-click="remove(line.idr)"><i style="margin-right: 15px;"
					class="close pull-right">&times;</i></a>
					</td>
		</tr>
	</table>		
</form>
</div>

